<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h1>Sobre</h1>

    <p style="text-align:center;">
        Trabalho mvc de criação de sites
    </p>

    <div class="links">
        <a href="/">Home</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
    </div>

</div>

</body>
</html>