*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(imagens/pexels-photo-417074.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
nav{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
}
nav a{
    padding: 30px 30px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 20%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 10px 10px black;
    
}
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
    padding: 15px 15px;
    color: rgb(0, 0, 0) ;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-color: white;
    border-radius: 100px;
    cursor: pointer;
}